

body {
   text-align: center;
 background-color: white;
}

horizon pic2.jpg {
  width: 33%;
}

navbar {
  color: white;
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    overflow: hidden;
}

nav {
    display: block;
    unicode-bidi: isolate;
}