

body {
   text-align: center;
 background-color: white;
}

horizon pic2.jpg {
  width: 33%;
}



nav {
    display: block;
    unicode-bidi: isolate;
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}